<header class="shadow-md p-3 w-full fixed top-0 max-h-20 bg-white z-50">
  <div class="flex justify-between items-center max-w-full mx-auto">
    <img routerLink="/" src="/images/logo.png" alt="app logo" class="max-h-16" />
    <nav class="flex gap-3 my-2 uppercase text-2xl">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
    <div class="flex gap-3 align-middle">
      <a
        matBadge="{{ cartService.itemCount() }}"
        routerLink="/cart"
        routerLinkActive="active"
        matBadgeSize="large"
        class="custom-badge mt-2 mr-2"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>

      @if (accountService.currentUser()) {
        <button [mat-menu-trigger-for]="menu" mat-button>
          <mat-icon>arrow_drop_down</mat-icon>
          {{ accountService.currentUser()?.email }}
        </button>
      } @else {
        <button routerLink="account/login" mat-stroked-button>Login</button>
        <button routerLink="account/register" mat-stroked-button>Register</button>
      }
    </div>
  </div>
</header>

@if (busyService.loading) {
  <div class="fixed inset-0 bg-black/10 flex items-center justify-center z-99999">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
}

<mat-menu #menu="matMenu" class="px-2">
  @if (accountService.currentUser()?.roles?.includes('Admin')) {
    <button class="px-3 text-red-600 font-semibold" mat-menu-item routerLink="/admin">
      <mat-icon class="text-red-600!">admin_panel_settings</mat-icon>
      Admin Dashboard
    </button>
    <mat-divider class="border-red-200!"></mat-divider>
  }

  <button class="px-3" mat-menu-item routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    My cart
  </button>

  <button class="px-3" mat-menu-item routerLink="/orders">
    <mat-icon>history</mat-icon>
    My orders
  </button>

  <mat-divider class="border-black!"></mat-divider>

  <button class="px-3" mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
