<div class="w-full mt-4">
  <h1 class="text-lg font-semibold mb-4">Billing and delivery information</h1>

  <dl>
    <dt class="font-semibold">Shipping address</dt>
    <dd class="mt-1 text-gray-500">{{ confirmationToken?.shipping | address }}</dd>

    <dt class="font-semibold mt-2">Payment details</dt>
    <dd class="mt-1 text-gray-500">{{ confirmationToken?.payment_method_preview | payment }}</dd>
  </dl>
</div>

<div class="mt-6 mx-auto">
  <div>
    <table class="border border-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th></th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Product name
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Quantity
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Price
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for (item of cartService.cart()?.items; track $index) {
          <tr>
            <td>
              <img
                [src]="item.pictureUrl"
                [alt]="item.productName"
                class="w-12 h-12 object-cover"
              />
            </td>
            <td class="px-6 py-4 whitespace-nowrap">{{ item.productName }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ item.quantity }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ item.price | currency }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
