<section class="mt-40">
  <div class="mx-auto max-w-2xl px-4">
    <div>
      <h2 class="font-bold mb-2 text-2xl">Thanks for your fake order!</h2>
      <div class="space-y-2 rounded-lg bg-gray-300 border border-gray-100 p-6 mb-8">
        <dl class="flex items-center justify-between gap-4">
          <dt class="text-gray-500">Date</dt>
          <dd class="font-medium text-gray-900 text-end">20 Sep 2026</dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
          <dt class="text-gray-500">Payment method</dt>
          <dd class="font-medium text-gray-900 text-end">Visa</dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
          <dt class="text-gray-500">Address</dt>
          <dd class="font-medium text-gray-900 text-end">Address goes here</dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
          <dt class="text-gray-500">Amount</dt>
          <dd class="font-medium text-gray-900 text-end">$100</dd>
        </dl>
      </div>
    </div>
    <div class="flex space-x-4 mb-10">
      <button mat-flat-button routerLink="/orders/42">View your order</button>
      <button mat-stroked-button routerLink="/shop">Continue shopping</button>
    </div>
  </div>
</section>
